.robotPage img
{
    height: 75vh;
}
@media (max-width: 768px)
{
    .robotPage img
    {
        height: 50vh;
    }
}
@media (max-width: 576px)
{
    .robotPage img
    {
        height: 25vh;
    }
}
@media (max-width: 375px)
{
    .robotPage img
    {
        height: 20vh;
    }
}
