.sponsorsPage {
    display: inline-list-item;
    flex-direction: row;
    background-color: hotpink;
}
:root {
    --sponsor-size: 40vmin;
}
.sponsorsPage img{
    margin: 20px;
    width: var(--sponsor-size);
    height: auto;
    display: inline-block;
    vertical-align: top;
}
