.nav-links.show-nav li
{
    display: flex;
    flex-direction: column;
}
:root
{
    --link-size: 3rem;
}
    .nav-links.show-nav li:not(:last-child) :after
    {
        border-top: solid 1px rgba(0,0,0,1);
        width: calc(var(--link-size) * 7.5);
        height: 1px;
        bottom: 0;
        content: " ";
        display: block;
        position: relative;
        left: 50%;
        margin: 1rem 0;
        transform: translate(-50%);
    }

.nav-links.show-nav
{
    z-index: 10;
    height: 90vh;
    width: 100vw;
    margin: -10vw 0 0;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    font-size: var(--link-size);
}
.content.hide
{
    display: none;
}