.outreachDescription
{
    display: flex;
    align-items: center;
    border: 2px solid black;
}
.outreachDescription h2
{
    width: 50%;
    font-size: 3rem;
    margin: 0 10px;

}
.outreachDescription h3
{
    font-size: 2.5rem;
}
.outreachDescription li
{
    font-size: 1.5rem;
}

@media (max-width: 1024px){
    .outreachDescription h2
    {
        font-size: 2rem;
    }
    .outreachDescription h3
    {
        font-size: 1.5rem;
    }
    .outreachDescription li
    {
        font-size: 1rem;
    }

}
@media (max-width: 768px) {
    .outreachDescription h2
    {
        font-size: 1.5rem;
    }
    .outreachDescription h3
    {
        font-size: 1rem;
    }
    .outreachDescription li
    {
        font-size: .75rem;
    }
}
@media (max-width: 425px) {
    .outreachDescription h2
    {
        font-size: 1rem;
    }
    .outreachDescription h3
    {
        font-size: .5rem;
    }
}
@media (max-width: 350px) {
    .outreachDescription h2
    {
        font-size: .75rem;
    }
    .outreachDescription h3 {
        font-size: .25rem;
    }
    .outreachDescription li
    {
        font-size: .5rem;
    }
}


.outreachDescription img
{
    width: 50%;
    height: auto;
}