.sponsorsPage {
    display: inline-list-item;
    flex-direction: row;
    background-color: hotpink;
}
:root {
    --sponsor-size: 600px;
}
.sponsorsPage img{
    margin: 20px;
    width: var(--sponsor-size);
    height: auto;
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 768px) {
    :root
    {
        --sponsor-size: 300px;
    }
}
@media (max-width: 576px) {
    :root
    {
        --sponsor-size: 200px;
    }
}
@media (max-width: 375px) {
    :root
    {
        --sponsor-size: 150px;
    }
}
